# Data Manipulation and Analysis
pandas
numpy

# Machine Learning and Mathematics
scikit-learn
scipy

# Natural Language Processing
nltk

# Visualizations
matplotlib
seaborn

# Performance Profiling
memory-profiler

# Web Interface
streamlit
